@model CourseProject.DataModels.User

@{
    ViewData["Title"] = "Личный кабинет";
}

<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 12px 15px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            color: white;
        }
    </style>
</head>
<body>
    <div style="display: flex;">
        <div style="width: 20%; padding: 10px;">
            <div class="nav-item">
                <a asp-action="Edit" asp-route-id="@Convert.ToInt32(Context.Session.GetString("UserId"))" class="item"><i class="fa fa-user-circle-o"></i> Личный кабинет</a>
            </div>
            <div class="nav-item">
                <a asp-controller="Events" asp-action="Index" class="item"><i class="fa fa-calendar"></i> Мероприятия</a>
            </div>
            <div class="nav-item">
                <a asp-controller="Vacancies" asp-action="Index" class="item"><i class="fa fa-address-card"></i> Вакансии</a>
            </div>
            @if (Context.Session.GetString("UserRole") == "Администратор")
            {
                <div class="nav-item">
                    <a asp-controller="Requests" asp-action="Index" class="item"><i class="fa fa-envelope"></i> Заявки</a>
                </div>
            }
        </div>
        <div style="width: 80%; padding: 10px;">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="RoleId" />
                <div class="form-group" style="display: flex; justify-content: space-between; width: 65%">
                    <div>
                        <label asp-for="Surname" class="control-label">Фамилия</label>
                        <input asp-for="Surname" class="form-control"/>
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Name" class="control-label">Имя</label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Patronymic" class="control-label">Отчество</label>
                        <input asp-for="Patronymic" class="form-control"/>
                        <span asp-validation-for="Patronymic" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group" style="min-width: 100px; width: fit-content">
                    <label asp-for="Username" class="control-label">Имя пользователя</label>
                    <input asp-for="Username" class="form-control"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group" style="min-width: 100px; width: fit-content">
                    <input asp-for="Password" type="hidden" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
                </div>
            </form>
            @if (Model.Requests.Count != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color: #014898; font-weight: bold; text-align: center; vertical-align: central">
                                Мероприятие
                            </th>
                            <th style="background-color: #014898; font-weight: bold; text-align: center; vertical-align: central">
                                Содержимое заявки
                            </th>
                            <th style="background-color: #014898; font-weight: bold; text-align: center; vertical-align: central">
                                Учреждение
                            </th>
                            <th style="background-color: #014898; font-weight: bold; text-align: center; vertical-align: central">
                                Количество человек
                            </th>
                            <th style="background-color: #014898; font-weight: bold; text-align: center; vertical-align: central">
                                Статус заявки
                            </th>
                            <th style="background-color: #014898; font-weight: bold; text-align: center; vertical-align: central">
                                Обновлено
                            </th>
                            <th style="background-color: #014898; font-weight: bold; text-align: center; vertical-align: central"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Requests)
                        {
                            <tr>
                                <td>
                                    @item.Event.Title
                                </td>
                                <td>
                                    @item.Content
                                </td>
                                <td>
                                    @item.Institution
                                </td>
                                <td>
                                    @item.PeopleNumber
                                </td>
                                <td>
                                    @item.Status
                                </td>
                                <td>
                                    @item.UpdatedOn
                                </td>
                                <td>
                                    <a asp-controller="Requests" asp-action="Edit" asp-route-id="@item.RequestId" class="btn" title="Редактировать"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="no-results">
                    У вас нет заявок
                </div>
            }
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
